<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="static/css/about.css"/>
<div ng-controller="about">
	<div class="box_box">
	            <div class="advertising">
	                <img src="static/images/{{about[0].a_photo}}" alt="">
	                <ul>
	                    <li>{{about[0].a_name}}</li>
						<li class="advertising-hr"></li>
						<li class="advertising-text" ng-bind-html="about_arr1[0].cnt1">
							
						</li>
	                   <li class="advertising-hr blank"></li>
	                    <li class="advertising-text"ng-bind-html="about_arr1[0].cnt2">
	                    </li>
	                    <li class="advertising-hr blank"></li>
	                    <li class="advertising-text"ng-bind-html="about_arr1[0].cnt3">
	                    </li>
	                </ul>
	            </div>
	            <div class="module-2">
	                <ul>
	                    <li>打造泰国最佳旅居地产品牌</li>
	                    <li>深耕于泰国这个服务意识极强的国家多年</li>
	                    <li>为延续让更多的人感受这种理想生活状态,「LC」团队通过优选
	                        贴近自然的环境、进一步再设计与秉承服务的“理性”供给态度，
	                        筑建满足居住者生活，精神层面等多层次“人性”需求的享受型理
	                        想住宅。</li>
	                    <li>品牌使命</li>
	                    <li>以自然之名 寻找旅居生活</li>
	                    <li>LC，经过精心设计，将现代人的生活需求和谐地融入到当地的自
	                        然与文化，让古朴与现代，传统与创新，都能在尊重原始风景的
	                        基础上高度融合起来，提供一种无尽的生活享受。</li>
	                    <li>品牌文化理念</li>
	                    <li>「L」其含义为 Luxury（奢侈），<br>「C」的含义为 Character（角色，特性）</li>
	                    <li>LC land的品牌文化就是秉承着轻奢时尚的生活理念进行扩展，
	                        但我们的品牌理念不局限于此。轻奢，成为当下人们热衷的一
	                        种新的生活方式，而 LC 所定义的轻奢更加注重对于精神品质
	                        上而言，视以生命之轻，重回自然生活之奢。<br>时间，空间其实
	                        对于每个人而言都是奢侈品，人们更像是时间旅人，而 LC 就
	                        是充当时间管家的角色，遵循自然万物不息，四季更迭的规律，
	                        打造庭院式完美空间，让人驻足欣赏常常错过的美好事物，打
	                        开人们隐藏的内心，满足对理想幸福生活的追求，人们不仅是
	                        时间旅人，更是时间主人。LC 把最好的建筑服务，最好的时
	                        光交给人们。</li>
	                </ul>
	                <div class="module-2-img">
	                    <img src="static/images/about-advertising-1.png" alt="">
	                </div>
	            </div>
	            <div class="module-3">
	                <img src="static/images/about-advertising-2.jpg" alt="">
	                <ul>
	                    <li>共生设计理念</li>
	                    <li></li>
	                    <li> &nbsp;&nbsp;与自然共生的设计之道 </li>
	                    <li>尊重所有生命的生存之道</li>
	                </ul>
	            </div>
	            <div class="module-4">
	                <div class="module-4-left">
	                    <div class="module-4-left-img">
	                        <img src="static/images/about-advertising-3.png" alt="">
	                    </div>
	                    <div class="module-4-left-ul1">
	                        <ul>
	                            <li>追随自然，审视内心</li>
	                            <li>时刻思考居住的终极形态，
	                                关注域内 弥漫的气息，以
	                                及探索隐匿其中的精 神世
	                                界，回归澄澈的心灵，与空
	                                间对峙。</li>
	                        </ul>
	                    </div>
	                    <div class="module-4-left-ul2">
	                        <ul>
	                            <li>与“地”结缘<br>融合历史与风俗</li>
	                            <li>与地结缘，不彰显自我，建立人与
	                                场 的关系，演奏大自然之音，再度
	                                赋予 空间生命。</li>
	                        </ul>
	                    </div>
	                </div>
	                <div class="module-4-right">
	                    <div class="module-4-right-img">
	                        <img src="static/images/about-advertising-4.png" alt="">
	                    </div>
	                </div>
	            </div>
	            <div class="module-5">
	                <div class="module-5-left fl">
	                    <div class="module-5-left-img">
	                        <img src="static/images/about-advertising-5.jpg" alt="">
	                    </div>
	                </div>
	                <div class="module-5-right fr">
	                    <ul class="module-5-right-ul1">
	                        <li>空间美育，借自然之美</li>
	                        <li>讲究内外的联结，注重
	                            室外环境与室内环境 的
	                            相互贯通和融合，观察思
	                            考数百种生活形 态与自然
	                            结合的表现，在自然的基础
	                            上进行 加工创造，探索新
	                            的生活方式。</li>
	                    </ul>
	                    <ul class="module-5-right-ul2">
	                        <li>设计旅居者的心</li>
	                        <li>试图在这里，呼吸新鲜空气，
	                            感受慢节奏的 氛围 , 逃离
	                            外界干扰，充分享受自由的
	                            感觉 , 让身心疲惫的现代
	                            都市人能够在此后 , 精力 
	                            充沛地重返生活。</li>
	                    </ul>
	                </div>
	            </div>
				<div class="clear"></div>
	            <div class="module-6">
	                <div class="module-6-left fl">
	                    <ul class="module-6-left-ul1">
	                        <li>空间美育，借自然之美</li>
	                        <li>讲究内外的联结，注重
	                            室外环境与室内环境 的
	                            相互贯通和融合，观察思
	                            考数百种生活形 态与自然
	                            结合的表现，在自然的基础
	                            上进行 加工创造，探索新
	                            的生活方式。</li>
	                    </ul>
	                    <ul class="module-6-left-ul2">
	                        <li>设计旅居者的心</li>
	                        <li>试图在这里，呼吸新鲜空气，
	                            感受慢节奏的 氛围 , 逃离
	                            外界干扰，充分享受自由的
	                            感觉 , 让身心疲惫的现代
	                            都市人能够在此后 , 精力 
	                            充沛地重返生活。</li>
	                    </ul>
	                </div>
	                <div class="module-6-right fr">
	                    <div class="module-6-right-img">
	                        <img src="static/images/about-advertising-6.jpg" alt="">
	                    </div>
	                </div>
	            </div>
				<div class="clear"></div>
	            <div class="module-7">
	                <ul class="module-7-ul">
	                    <li>与时间同步，与自然共生<br>平衡生活的艺术，追求精神层次的满足</li>
	                    <li>普通的住宅满足人的基本需求，精致的住宅满足人的精神需求，顶级的住宅
	                        讲究生活的艺术，以及自我品位的升级。<br>区别传统的“小区”概念，LC LAND
	                        以建筑空间的角度来注视住宅的人性化特征，建立开放的系统功能，<br>使小区
	                        不再孤立，而是能与周围的环境和文化氛围融为一体，不断地进行信息、文
	                        化和情感的交流，对话时间，对话自然，对话生活。</li>
	                </ul>
	                <div class="module-7-img">
	                    <img src="static/images/about-advertising-7.jpg" alt="">
	                </div>
	            </div>
	            <div class="module-8">
	                <div class="module-8-top">
	                    <ul class="module-8-top-ul">
	                        <li>联系地址</li>
	                        <li>191 LE ChaMONIx M.13 
	                            Tambon Pa Daet<br>amphoe
	                             Mueang Chiang Mai
	                        </li>
	                    </ul>
	                </div>
	                <div class="module-8-bottom">
	                    <div id="XSDFXPage" class="XSDFXPage">
	
	                    </div>
	                </div>
	            </div>
	        </div>
			<script type="text/javascript" src="static/js/map.js"> </script>
</div>
 