<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="static/css/hxmb.css"/>
<script type="text/javascript" src="static/js/peitao.js"></script>
<div ng-controller="hxmb">
	<div class="content">
				<h1>{{hx_detail.h_name}}</h1>
				<div class="xian"></div>
				<div class="z">
					<img ng-src="static/images/{{hx_detail.h_img}}" alt="" class="zleft">
					<div class="zright">
						<img src="static/images/1@2x.png" alt="" class="zf-bg">
						<div class="zrli">
							<div class="zrt"><p class="span">{{hx_detail.h_sort}}</p></div>
							<p class="p1">实用空间</p>
							<p class="p2">{{hx_detail.h_tiji}}  sq.m.</p>
							<p class="p3">极致利用每一寸空间
								功能完备的精致小户型
								投资·自住首选，最具性价比</p>
							<p class="p4">1、主卧室<span>---</span>
								2、客厅<span>---</span>
								3、厨房
								4、浴室<span>-----</span>
								5、阳台</p>
							<div class="zrdi">
								<img src="static/images/shan.png" alt="" class="shan"><span>山</span>
								<img src="static/images/shu.png" alt="" class="shu"><sppan>树林</span>
								<img src="static/images/feng.png" alt="" class="feng"><span>风</span>
							</div>
						</div>
						<div class="zrd">
							<div class="zrds"></div>
							<img src="static/images/1567759093@2x.png" alt="">
							<p>3D全景图</p>
							<div class="zrdx"></div>
						</div>
					</div>
				</div>
				<div class="x img_box">
					<div class="list_box img_ul">
						<div class="list">
							<img src="static/images/175@2x.jpg" alt="" class="ximg">
							<div class="xwz"><p>客厅</p></div>
						</div>
						<div class="list">
							<img src="static/images/175@2x.jpg" alt="" class="ximg">
							<div class="xwz"><p>厨房</p></div>
						</div>
						<div class="list">
							<img src="static/images/175@2x.jpg" alt="" class="ximg">
							<div class="xwz"><p>卧室</p></div>
						</div>
						<div class="list">
							<img src="static/images/175@2x.jpg" alt="" class="ximg">
							<div class="xwz"><p>冲凉房</p></div>
						</div>
						<div class="list">
							<img src="static/images/175@2x.jpg" alt="" class="ximg">
							<div class="xwz"><p>楼梯</p></div>
						</div>
						<div class="list">
							<img src="static/images/175@2x.jpg" alt="" class="ximg">
							<div class="xwz"><p>阳台</p></div>
						</div>
					</div>
					
					
					<ul class="redio">
						<li class="active"></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
					</ul>
				</div>
			</div>
</div>