<meta charset="utf-8">
<div ng-controller="index">
<!-- 内容部分 -->
		<div class="content_top" style="width: 100%;">
			
			<div class="content_top_right">
				<div>关于 LC Land</div>
				<h2>以自然造就自然</h2>
				<hr>
				<p>遵循自然客观规律，依附于原有的自然生态环境下，通过与设计、科技的融合，<br> 与当地生态、人文共存共生，创造更符合人居的绿色健康家园。</p>
			</div>
		</div>
		<div class="content_middle" style="width: 100%;">
			<div class="content_middle_left">
				<h2>「 泰国 」</h2>
				<p>
					位于中南半岛的热带季风气候，舒适宜人 舌尖上的盛宴，刺激味蕾的特色风情美食 慢节奏生活的国家，感受悠闲的生活状态 纯朴人文情怀，热闹市集文化，生活气息浓郁 浓墨重彩的佛教文化，艺术文明的多元碰撞 ...
				</p>
				<hr>
			</div>
			<div class="content_middle_right">
				<ul>
					<li>
						<a href=""><img src="static/images/index_content_middle1.png" alt=""></a>
						<a href=""><h6>Le ChamoNix 夏蒙尼小镇</h6></a>
						<a href=""><p>精致的海外旅居<br> 从一间 LC 轻奢公寓开启</p></a>
						
					</li>
					<li>
						<a href=""><img src="static/images/index_content_middle2.png" alt=""></a>
						<a href=""><h6>清迈合院</h6></a>
					</li>
					<div class="clear"></div>
					<li>
						<a href=""><img src="static/images/index_content_middle3.png" alt="" ></a>
						<a href=""><h6 class="h6">梅花鹿度假酒店</h6></a>
					</li>
					<li class="li_four">
						<h2>精心筑造的生活艺术</h2>
						<hr>
						<p>还原自然本真<br>发现生活之下的细腻艺术</p>
					</li>
				</ul>
			</div>
		</div>
		<div class="clear"></div>
		<div class="content_bottom">
			<h1>「LC」国际顶级合作方</h1>	
			<div class="content_bottom1">
				<div class="content_bottom1_left">
					<h1>泰国曼谷医院<br>——东南亚最大的医院</h1>
					<p>曼谷医院，被 MTQVA( 全球医疗旅游联盟 ) 评为世界十大旅游医疗医院之一，被泰国普密蓬国王授予皇家奖章。作为一所国际化综合性医院，拥有舒适的医疗环境、提供先进的医疗设备、贴心的医疗服务，强大的专家团队以及快速立体的医疗救援，以第三世界的价格享受第一世界的医疗资源。</p>
					<button>友情链接</button>
				</div>
				<div class="content_bottom1_right">
					<a href=""><img src="static/images/index_content_bom1.png" alt=""></a>
				</div>
				<div class="clear"></div>
			</div>	
			<div class="clear"></div>
			<div class="content_bottom2">
				<div class="content_bottom2_left">
					<a href=""><img src="static/images/index_content_bom2.png" alt=""></a>
				</div>
				<div class="content_bottom2_right">
					<h2>清迈太平洋国际学校</h1>
					<h3>一个链接世界优质资源的学校</h3>
					<p>APIS 太平洋国际学校是泰北第一个国际认可的寄宿学校，成立于 1997 年，主校区位于风景如画的Samoeng 沿路。采用美制课程教育体制，提供 IB国际文凭，课程遵循国际文凭标准。学校 80% 的老师聘自美国、英国、加拿大和澳大利亚。高质量国际教育水平以低成本享受，极具性价比。</p>
					<button>友情链接</button>
				</div>
				<div class="clear"></div>
			</div>
			
		</div>
		<div class="clear"></div>
</div>