<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>layabox首页</title>
	<link rel="stylesheet" href="style/bootstrap.min.css" />
	<link rel="stylesheet" href="style/reset.css" />
	<link rel="stylesheet" href="style/common.css" />
	<link rel="stylesheet" href="style/game.css" />
</head>
<body>
	<header class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="row">
				<div class="col-md-2 logo">
					<a href="">
						<img src="images/logo.png" alt="" />
					</a>
				</div>
				<div class="col-md-9">
					<ul class="nav navbar-nav">
						<li>
							<a href="">首页</a>
						</li>
						<li>
							<a href="">Laya家族</a>
						</li>
						<li  class="active">
							<a href="">游戏</a>
						</li>
						<li>
							<a href="">新闻动态</a>
						</li>
						<li>
							<a href="">开发者中心</a>
						</li>
						<li>
							<a href="">开发者社区</a>
						</li>
						<li>
							<a href="">开放平台</a>
						</li>
						<li>
							<a href="">关于我们</a>
						</li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="">
							Language
							<span class="caret"></span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
    </header>
            <section class="banner">
                   <img src="images/game-banner.jpg" > 
                </section>
                <section class="game">
                    <div class="container">
                        <div class="row">
                                <div class="col-md-11">
                            
                            <div class="text">
                                    <h2>猎刃2</h2>
                            <p> 2015年Q版魔幻手游诚心之作，超魔幻ARPG之作！！！无可挑剔的简单操作，无与伦比的爽快打击感，无处不在的惊
                                    喜！无穷无尽的回忆！全部技能100%还原，高清华丽特效，体验视觉盛宴；超写实画风，完美重现经典副本；让我们一
                                    起来，挑战恶魔，乱斗魔兽！</p>
                                    <img src="images/lr-one.png" class="img1">
                                    <img src="images/lr-two.png">
                                    <img src="images/lr-three.png">
                                    <img src="images/lr-four.png"class="img2">
                        </div>
                    </div>
                    </div>
</div>
                </section>
                <section class="gametwo">
                        <div class="container">
                            <div class="row">
                                    <div class="col-md-11">
                                
                                <div class="text-two">
                                        <h2>上吧主公</h2>
                                <p>《上吧主公》是一款以三国为背景Q版卡牌游戏，游戏与普通三国题材不同，它以萌萌哒猫咪为三国众名将构筑出别具一格的游戏世界观。画面Q萌，技能华丽炫酷，集养成 、 收集 、策略 、卡牌于一体。三国初始群雄争霸，奇妙的名将会帮你掌握胜算左右战况。</p>
                                        <img src="images/Q-one.png" class="img3">
                                        <img src="images/Q-two.png">
                                        <img src="images/Q-three.png">
                                        <img src="images/Q-four.png" class="img4">
                            </div>
                        </div>
                        </div>
    </div>
                    </section>
                    <section class="more">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <h2>更多案例</h2>
                                    <ul>
                                        <li><img src="images/game-icon1.png"><p>醉西游</p></li>
                                        <li><img src="images/game-icon2.png"><p>魔卡幻想</p></li>
                                        <li><img src="images/game-icon3.png"><p>超能战队</p></li>
                                    </ul>
                                    <ul>
                                            <li><img src="images/game-icon4.png"><p>轰三国</p></li>
                                            <li><img src="images/game-icon5.png"><p>刀塔大菠萝</p></li>
                                            <li><img src="images/game-icon6.png"><p>迷你猎人</p></li>
                                        </ul>
                                        <ul>
                                                <li><img src="images/game-icon7.png"><p>萌挂三国</p></li>
                                                <li><img src="images/game-icon8.png"><p>战争之门</p></li>
                                                <li><img src="images/game-icon9.png"><p>英雄争霸</p></li>
                                            </ul>
                                            <ul>
                                                    <li><img src="images/game-icon10.png"><p>二战传奇</p></li>
                                                    <li><img src="images/game-icon11.png"><p>龙吟三国</p></li>
                                                    <li><img src="images/game-icon12.png"><p>哟狐狸精</p></li>
                                                </ul>
                                                <ul>
                                                        <li><img src="images/game-icon13.png"><p>熊来啦</p></li>
                                                        <li><img src="images/game-icon14.png"><p>我爱我家</p></li>
                                                        <li><img src="images/game-icon15.png"><p>夺塔三国</p></li>
                                                    </ul>
                                                    <ul>
                                                            <li><img src="images/game-icon16.png"><p>西游快跑</p></li>
                                                            <li><img src="images/game-icon17.png"><p>德州扑克</p></li>
                                                            <li><img src="images/game-icon18.png"><p>神魔快打</p></li>
                                                        </ul>
                                                        <ul>
                                                                <li><img src="images/game-icon19.png"><p>鬼吹灯</p></li>
                                                                <li><img src="images/game-icon20.png"><p>挂机三国</p></li>
                                                                <li><img src="images/game-icon21.png"><p>三国仙侠传</p></li>
                                                            </ul>
                                </div>
                            </div>

                        </div>
                    </section>
     <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-9 left">
                        <ul>
                            <li><a href="">公司简介</a></li>
                            <li><a href="">联系方式</a></li>
                            <li><a href="">人才招聘</a></li>
                        </ul>
                        <div class="clear"></div>
                        <p>All Copyright Reserved by Layabox Inc. 京ICP备15008163号-1 </p>
                    </div>
                    <div class="col-md-3 right">
                        <ul>
                            <li>
                                <img src="images/email.png" alt="" />
                            </li>
                            <li>
                                <img src="images/wechat.png" alt="" />
                              
                            </li>
                            <li>
                                <img src="images/qq.png" alt="" />
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer> 
        </body>
        </html>