<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>layabox首页</title>
	<link rel="stylesheet" href="style/bootstrap.min.css" />
	<link rel="stylesheet" href="style/reset.css" />
	<link rel="stylesheet" href="style/common.css" />
	<link rel="stylesheet" href="style/home.css" />
</head>
<body>
	<header class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="row">
				<div class="col-md-2 logo">
					<a href="">
						<img src="images/logo.png" alt="" />
					</a>
				</div>
				<div class="col-md-9">
					<ul class="nav navbar-nav">
						<li>
							<a href="">首页</a>
						</li>
						<li class="active">
							<a href="">Laya家族</a>
						</li>
						<li>
							<a href="">游戏</a>
						</li>
						<li>
							<a href="">新闻动态</a>
						</li>
						<li>
							<a href="">开发者中心</a>
						</li>
						<li>
							<a href="">开发者社区</a>
						</li>
						<li>
							<a href="">开放平台</a>
						</li>
						<li>
							<a href="">关于我们</a>
						</li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="">
							Language
							<span class="caret"></span>
							</a>
						</li>
					</ul>
				</div>
			</div>
        </div>
    </header>
    <section class="banner">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
                        <a href="" class="a-one">1</a>
                            <h2>LayaFlash</h2>
                 <p><span>直接用Flash AS3语言开发HTML5的引擎</span></p>
                 <div class="text-top"><p>支持Flash AS3语言及框架在Flash Builder、FlashDevelop中直接开发
                        HTML5产品；</p>
                        <p>支持将Flash页游\手游产品快速转换成为HTML5游戏，让Flash研发企业
                                进入HTML5市场低成本、无门槛；</p>
                                <p>支持Starling等3D框架，是首个支持HTML5 3D游戏的技术方案。</p>
                </div>
                <button class="button-one">进入下载</button>
                <img src="images/home-banner.jpg" class="img1">
            </div>
			</div>
		</div>
    </section>
    <section class="ad">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                   <a href="" class="a-two">2</a>
                    <h2>LayaPlayer</h2>
                
                    <div class="text-middle">
                            <p><span>极强性能</span></p>
                        <p>C语言编写的HTML5运行器，逻辑渲染双核运
                                行、GPU加速渲染、内存显存智能管理、渲染流
                                程极致优化，基于LayaPlayer运行的HTML5产品
                                性能媲美APP。</p>
                    </div>
                    <div class="text-middle-two">
                    <p><span>更小，更多，更强</span></p>
                        <p>不足20K的HTML5运行器，拥有超过5亿的移动
                                设备安装量，已嵌入到QQ浏览器、QQ空间、百
                                度浏览器、新浪微博、猎豹浏览器等20多家主流
                                平台。</p>
                                <img src="images/ad-bgone.png" class="img2">
                                <img src="images/ad-bgtwo.png" class="img3">
                            </div>
                      </div>
                </div>
            </div>
        </div>
    </section>
    <section class="Layabox-left">
        <div class="container">
        <div class="row">
            <div class="col-md-6">
            <a href="" class="a-three">3</a>
            <h3>LayaAir</h3>
            <p><span>新一代HTML5引擎，正在内测完善中，敬请期待</span></p>
            <ul>
                <li>
                    <h5>小巧 强大</h5>
                    <p>核心库100K左右，支持2D\3D动画、UI、粒子、骨骼、物理等完整功能，性能媲美APP</p>
                </li>
                <li>
                        <h5>应用领域更广泛</h5>
                        <p>可广泛应用于小型游戏、大型游戏、广告、营销、H5应用、教育等领域</p>
                    </li>
                    <li>
                            <h5>多语言开发</h5>
                            <p>支持AS3、TypeScript、JavaScript三种开发语言，适用程序员更广泛</p>
                        </li>
            </ul>
            <img src="images/LayaAir.png" class="img4">
        </div>
        <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="Layabox-right">
                    <a href="" class="a-four">4</a>
                    <h3>LayaOpen</h3>
                    <p><span>面向Layabox开发者、流量渠道的一站式对接平台</span></p>
                    <ul>
                        <li>
                            <h5>一站式对接</h5>
                            <p>一次对接，全渠道发行，提供一站式对接、发行、运营服务</p>
                        </li>
                        <li>
                                <h5>免费测试</h5>
                                <p>提供免费评测服务以及线上真实用户的产品测试和运营测试</p>
                            </li>
                            <li>
                                    <h5>专业服务</h5>
                                    <p>提供最专业的用户数据、付费数据、产品数据等游戏运营数据统计系统</p>
                                </li>
                    </ul>
                    <img src="images/Layaset.png" class="img4">
                    
                </div>
            </div>
    </div>
</div>
    </section>
    <section class="Layabox-two">
            <div class="container">
            <div class="row">
                <div class="col-md-6">
                <a href="" class="a-five">5</a>
                <h3>LayaStore</h3>
                <p><span>游戏内容丰富，可安装、可嵌入的HTML5应用商店</span></p>
                <ul>
                    <li>
                        <h5>嵌入式商店</h5>
                        <p>仅20K的嵌入式HTML5应用商店，嵌入到APP中提供托管式HTML5商店服务。</p>
                    </li>
                    <li>
                            <h5>流量变现</h5>
                            <p>丰富优质的大型HTML5游戏产品，帮助APP进入流量变现新时代。</p>
                        </li>

                </ul>
                <img src="images/Layastore.png" class="img4">
            </div>
            <div class="container">
                    <div class="row-two">
                        <div class="col-md-6">
                            <div class="bottom-right">
                        <a href="" class="a-six">6</a>
                        <h3>LayaPublish</h3>
                        <p><span>分成高、覆盖广，提供最优秀的全渠道发行服务</span></p>
                        <ul>
                            <li>
                                <h5>覆盖广</h5>
                                <p>超过5亿的移动设备安装量覆盖，为CP发行保驾护航</p>
                            </li>
                            <li>
                                    <h5>分成高</h5>
                                    <p>CP可享受80%发行收益的高分成政策。</p>
                                </li>
                           
                        </ul>
                        <img src="images/Layapublish.png" class="img4">
                        
                    </div>
                </div>
        </div>
    </div>
        </section>
        <footer>
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 left">
                            <ul>
                                <li><a href="">公司简介</a></li>
                                <li><a href="">联系方式</a></li>
                                <li><a href="">人才招聘</a></li>
                            </ul>
                            <div class="clear"></div>
                            <p>All Copyright Reserved by Layabox Inc. 京ICP备15008163号-1 </p>
                        </div>
                        <div class="col-md-3 right">
                            <ul>
                                <li>
                                    <img src="images/email.png" alt="" />
                                </li>
                                <li>
                                    <img src="images/wechat.png" alt="" />
                                  
                                </li>
                                <li>
                                    <img src="images/qq.png" alt="" />
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
    </body>
    </html>