<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>layabox首页</title>
	<link rel="stylesheet" href="style/bootstrap.min.css" />
	<link rel="stylesheet" href="style/reset.css" />
	<link rel="stylesheet" href="style/common.css" />
	<link rel="stylesheet" href="style/news.css" />
</head>
<body>
	<header class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="row">
				<div class="col-md-2 logo">
					<a href="">
						<img src="images/logo.png" alt="" />
					</a>
				</div>
				<div class="col-md-9">
					<ul class="nav navbar-nav">
						<li>
							<a href="">首页</a>
						</li>
						<li>
							<a href="">Laya家族</a>
						</li>
						<li  class="active">
							<a href="">游戏</a>
						</li>
						<li>
							<a href="">新闻动态</a>
						</li>
						<li>
							<a href="">开发者中心</a>
						</li>
						<li>
							<a href="">开发者社区</a>
						</li>
						<li>
							<a href="">开放平台</a>
						</li>
						<li>
							<a href="">关于我们</a>
						</li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="">
							Language
							<span class="caret"></span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
    </header>
            <section class="news">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <h2>新闻动态</h2>
                                <img src="images/news-top1.png" class="img1">
                                <img src="images/news-top2.png" class="img2">
                                <img src="images/news-top3.png" class="img3"> 
                            </div>
                        </div>
                    </div>
                </section>
                <section class="news-two">
					<div class="container">
						<div class="row">
							<div class="col-md-11">
                    <img src="images/news-one.png" class="img">
 
                        <h4><span>技术突破：HTML5裸跑性能已可媲美APP</span></h4>
                        <p><span>2016-02-25</span></p>
                        <p>Layabox计划在3月限量内测的LayaAir引擎，通过在低端机型上的性能实测以及即将上线的大型裸跑游戏，证明了
                                HTML5裸跑性能已可媲美APP，性能问题将不再成为制约产业发展的瓶颈。</p>
							<button class="button2">查看详情</button>

				</div>
			</div>
		</div>
		<div class="container">
				<div class="row">
					<div class="col-md-11">
			<img src="images/news-two.png" class="img">

				<h4>Layabox吹响进军台湾HTML5市场的号角</h4>
				<p><span>2016-02-25</span></p>
				<p>以本届HTML5游戏峰会为契机，Layabox携多款优质大型HTML5手游吹响了进军台湾的号角，与此同时，Layabox与
						台湾游戏产业同行就游戏开发、游戏发行、平台合作等业务启动了合作的筹备阶段。猴年春节后，将会有多款大型
						HTML5手游直接登陆台湾游戏市场。</p>
					<button class="button1">查看详情</button>

		</div>
	</div>
</div>
			<div class="container">
					<div class="row">
						<div class="col-md-11">
				<img src="images/news-three.png" class="img">

					<h4>微信“应用号”后，Layabox与火速移动结盟力推HTML5应用</h4>
					<p><span>2016-02-25</span></p>
					<p>HTML5商业引擎提供商Layabox与HTML5应用发行商火速移动（Huosumobi），于2016年1月13日正式宣布双方结
							成全面战略合作联盟。未来从HTML5应用的市场推广、引擎技术、平台、运营、分发等HTML5应用领域的生态进行
							全方位合作。</p>
						<button class="button1">查看详情</button>

			</div>
			</div>
			</div>
			<div class="container">
					<div class="row">
						<div class="col-md-11">
				<img src="images/news-four.png" class="img">

					<h4>谢成鸿：HTML5引擎将向全行业引擎领域发展</h4>
					<p><span>2016-02-25</span></p>
					<p>Layabox总裁谢成鸿讲解了HTML5游戏引擎的现状和未来的发展，认为HTML5的性能突破将淘汰单个行业领域的全
							能引擎，向全行业引擎领域发展，HTML5的3D引擎时代也会提前到来。</p>
						<button class="button1">查看详情</button>

			</div>
			</div>
			</div>
			<div class="container">
					<div class="row">
						<div class="col-md-11">
				<img src="images/news-five.png" class="img">

					<h4>Layabox荣膺“2015年度最佳引擎奖”   </h4>
					<p><span>2016-02-25</span></p>
					<p>HTML5梦工场举办的”娜喊杯”2015 HTML5年度颁奖盛典于2016年1月7日在北京古北水镇成功举行。Layabox凭借
							2015年唯一拥有大型HTML5游戏线上产品的商业引擎供应商优势，荣膺“2015年度最佳引擎奖”。</p>
						<button class="button1">查看详情</button>

			</div>
			</div>
			</div>
			<div class="container">
					<div class="row">
						<div class="col-md-11">
				<img src="images/news-six.png" class="img">

					<h4>Layabox本月将上线四款大型HTML5游戏</h4>
					<p><span>2016-02-25</span></p>
					<p>Layabox一直致力于大型HTML5引擎技术研发和CP培育，从本月开始，将不断推出大型HTML5游戏，我们希望用自
							己的努力，提升玩家和渠道对HTML5游戏品质以及盈利能力的信心，推动产业的发展和升级。</p>
						<button class="button1">查看详情</button>

			</div>
			</div>
			</div>
			<div class="container">
					<div class="row">
						<div class="col-md-11">
				<img src="images/news-seven.png" class="img">

					<h4>关于HTML5游戏跨界合作的几个切入点！  </h4>
					<p><span>2016-02-25</span></p>
					<p>要想在当前阶段先跳出来成为瞩目的明星企业。一是制作高品质游戏，兼顾APP与H5市场；二是要深度结合H5技术
							的无需下载、即点即玩、易传播、跨平台、应用领域广泛等属性</p>
						<button class="button1">查看详情</button>

			</div>
			</div>
			</div>
			<div class="container">
					<div class="row">
						<div class="col-md-11">
				<img src="images/news-eight.png" class="img">

					<h4>HTML5行业首次出席中日韩政府级开源论坛</h4>
					<p><span>2016-02-25</span></p>
					<p>第十四届东北亚开源软件推进论坛在日本东京举行,本次会议由中日韩三国行业主管部门组织。这是HTML5行业代表
							首次出市出席东北亚开源软件推进论坛。</p>
						<button class="button1">查看详情</button>

			</div>
			</div>
			</div>
			<div class="container">
					<div class="row">
						<div class="col-md-11">
				<img src="images/news-nine.png" class="img">

					<h4>Layabox引擎用HTML5还原3D端游</h4>
					<p><span>2016-02-25</span></p>
					<p>老牌游戏研发商中娱正在用Layabox引擎将著名3D 端游《猎刃》还原到HTML5场景中，Layabox有望成为首个拥有
							重度3D游戏产品案例的HTML5游戏引擎。</p>
						<button class="button1">查看详情</button>

			</div>
			</div>
			</div>
				</section>
				<section class="page">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<div class="table-one">
									<table border="1" cellspacing="0" cellpadding="" width="300">
											<tr>
												<td align="center" valign="middle" width="50" height="30">36条</td>
												<td align="center" width="60">上一页</td>
												<td align="center" width="30" class="page-one">1</td>
												<td align="center" width="30">2</td>
												<td align="center" width="30">3</td>
												<td align="center" width="30">4</td>
												<td align="center" width="60">下一页</td>
											</tr>
										</table>
									</div>
							</div>
							</div>

					</div>
				</section>
				<footer>
						<div class="container">
							<div class="row">
								<div class="col-md-9 left">
									<ul>
										<li><a href="">公司简介</a></li>
										<li><a href="">联系方式</a></li>
										<li><a href="">人才招聘</a></li>
									</ul>
									<div class="clear"></div>
									<p>All Copyright Reserved by Layabox Inc. 京ICP备15008163号-1 </p>
								</div>
								<div class="col-md-3 right">
									<ul>
										<li>
											<img src="images/email.png" alt="" />
										</li>
										<li>
											<img src="images/wechat.png" alt="" />
											
										</li>
										<li>
											<img src="images/qq.png" alt="" />
										</li>
									</ul>
								</div>
							</div>
						</div>
					</footer>
				</body>
				</html>